<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Job App Tracker</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />

    <link
      href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>

  <div id="app" v-cloak>
    <v-app>
      <v-content>
        <v-toolbar flat style="background-color: #ffffff; border-bottom: 1px solid #ccc; ">
      <!-- <v-toolbar-side-icon  @click=" page = 'Boards'"></v-toolbar-side-icon>
      <v-toolbar-title>Track</v-toolbar-title> -->


      <v-toolbar-items >

        <v-btn flat @click="page = 'Boards'">Boards</v-btn>
        <v-btn flat @click="page = 'Contacts'">Contacts</v-btn>
        <v-btn flat @click="page = 'Briefcases'"> briefcases</v-btn>

       <v-spacer></v-spacer>
        <v-layout>

         <v-btn round color="info" > Sign up </v-btn>
         </v-layout>
      </v-toolbar-items>
    </v-toolbar>


    <v-layout  row wrap id="dropdown-example" style="border-bottom: 1px solid #ccc; ">

      <v-flex xs12 sm2 class="pl-4">
        <v-overflow-btn
          :items="dropdown_font"
          label="My first Board"
          target="#dropdown-example"
        ></v-overflow-btn>
      </v-flex>

      <v-spacer></v-spacer>

      <v-layout class="pt-3">
        <v-flex xs12 sm2 >
          <a href = "#"> <v-icon> dashboard </v-icon> </a>
        </v-flex>
        <v-flex xs12 sm2 >
        <a href = "#"> <v-icon> list </v-icon> </a>
        </v-flex>

        <v-flex xs12 sm2 >
      <a href = "#"> <v-icon> map </v-icon> </a>
        </v-flex>

        <v-flex xs12 sm2 >
          <a href = "#"> <v-icon> insert_chart </v-icon> </a>
        </v-flex>
      </v-layout>

      <v-spacer></v-spacer>

      <v-flex xs12 sm2 class="pt-3">
        <v-btn outline color = "grey">  <v-icon right> share </v-icon> Share Board</v-btn>
      </v-flex>

    </v-layout>

        <v-layout row align-content-center class="horizontal-scroll">
          <v-flex xs6 v-for="column in columns">
            <v-card width="300px" class="pl-4 pr-4 pt-4" height="100%" style="border-left: 1px solid #4444;" flat>

              <!-- Column actions -->
              <v-card-actions class="white justify-center">

                <!-- Column Delete button -->
                <v-btn fab icon small>
                  <v-icon>delete</v-icon>
                </v-btn>
                <v-spacer></v-spacer>

                <!-- Column title -->
                <v-card-title style="font-size: 1.5rem;">{{
                  column.title
                }}</v-card-title>
                <v-spacer></v-spacer>

                <!-- Column 'More' button -->
                <template>
                  <div class="text-xs-center">
                    <v-menu>
                      <template v-slot:activator="{ on }">
                        <v-btn fab icon small v-on="on">
                          <v-icon>more_horiz</v-icon>
                        </v-btn>
                      </template>
                      <v-list>
                        <v-list-tile
                          v-for="(item, index) in more_button_options"
                          :key="index"
                          @click=""
                        >
                          <v-list-tile-title class="mr-4">{{
                            item.title
                          }}</v-list-tile-title
                          ><v-icon class="ml-4">{{ item.icon }}</v-icon>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </div>
                </template>

              </v-card-actions>

              <!-- Column jobs counter -->
              <v-subheader class="white justify-center">
                {{ column.jobs }} Jobs
              </v-subheader>

              <!-- Add jobs button -->
              <v-btn block>+</v-btn>

              <!-- Jobs v-for -->
              <!-- <v-card v-for="(job, index) in filterJobs(index)" xs12 color="green" dark max-width="400"> -->
              <div class="vertical-scroll">
                <v-card v-for="job in filterJobs(column.column)" xs12 :color="job.color" dark max-width="400" class="mb-2">

                  <v-list-tile class="job-card">
                    <v-list-tile-avatar>
                      <v-img large left :src="job.image" height="40px" contain>
                      </v-img>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                      <v-list-tile-title>{{job.title}}</v-list-tile-title>
                      <v-list-tile-sub-title>{{job.subtitle}}</v-list-tile-sub-title>
                    </v-list-tile-content>

                    <v-card-actions>
                      <v-list-tile class="grow">
                        <v-layout align-center justify-end>
                          <v-btn icon fab>
                            <v-icon class="mr-1">mdi-delete</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile>
                    </v-card-actions>
                  </v-list-tile>

                  <v-card-text class="text-xs-right">
                    added {{job.date_added}} ago
                  </v-card-text>
                </v-card>
              </div>




              <v-card-text row wrap> </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="code.js"></script>
</html>

<div id="app2" v-cloak>
  <v-app>

  </v-app>
</div>
