[v-cloak] {
  display: none;
}

#app {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  background-color: #ffffff;
}

.job-card {
  padding-top: 10px;
}

.horizontal-scroll {
  overflow-x: auto;
}

.vertical-scroll {
  height: 290px;
  overflow: hidden;
  overflow-y: auto;
}

.column-height {
  height: "900px";
  overflow: scroll;
}

a{
  text-decoration: none;
}
