<h1 class="mt-4" style="color:#fff; float:left;">Dashboard</h1>
<p class="lead mb-3" style=" float:right; color:#fff; padding-top:10px;">Welcome
    <%= user.name %>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
</p>